.CartBtn {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: rgb(255, 208, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
  }
  
  .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
  }

  
  .CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
  }
  
  .CartBtn:hover .text {
    transform: translate(10px,0px);
    transition-duration: .5s;
  }
  
  .CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
  }



  /* Globales */
*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	max-width: 1200px;
	font-family: 'Lato';
	color: #333;
}

.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #000;
}

.icon-cart:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	padding: 30px 0 40px 0;
}

.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

.titulo-producto-carrito {
	font-size: 20px;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

/* Main */
.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.item {
	border-radius: 10px;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.info-product button {
	border: none;
	background: none;
	background-color: #000;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

.btn-clear-all {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}

.btn-clear-all:hover{
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}
@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    60% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slideIn 0.5s ease-in-out forwards;
}
