@tailwind base;
@tailwind components;
@tailwind utilities;
/* body{
  background-color: rgb(255, 253, 250);
} */
.climate-crisis {
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    font-variation-settings:
      "YEAR" 1996;
  }

  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  