@tailwind base;
@tailwind components;
@tailwind utilities;
 
.climate-crisis {
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    font-variation-settings:
      "YEAR" 1996;
  }

  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .montserrat2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'kelsi';
    src: url('/fonts/Kelsi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'kelsi2';
    src: url('/fonts/Kelsi-fill.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  