@tailwind base;
@tailwind components;
@tailwind utilities;

.climate-crisis {
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "YEAR" 1979;
  }

  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  